	
body{
	background: url("../images/background.jpg") no-repeat center center fixed;
	background-size: cover;
	margin:0 auto;
}
h1 {
	margin-top:-30px;
	position:relative;
	z-index: 1;
	color:orangered;
	text-align:center;
	font-size:100px;
 +	font-family: 'Patrick Hand', cursive;
}

h2 {
	position:relative;
	 z-index: 2; 
	 transform: rotate(-7deg);
	 color:blue;
	 font-size:50px;
	 text-align: center;
	 font-family: 'Rock Salt', cursive;
	 margin-top:-50px;
}
.gameContainer {
	border: dotted 2px white;
	padding:5px;
	color:white;
	background:black;
	height:300px;
}
.hangmanDisplayArea {
	border-right:dotted 2px white;
	height:100%;
}
.gamePlayArea {
	border-left:dotted 2px white;
	height:100%;
	background:black;
}